.icon-48-orders {
      background-image: url(../images/l_orders.png);
      padding-left:60px!important;
}

.icon-48-order {
      background-image: url(../images/l_orders.png);
      padding-left:60px!important;
}

.icon-48-additionalinformations {
      background-image: url(../images/l_additionalinformations.png);
      padding-left:60px!important;
}

.icon-48-additionalinformation {
      background-image: url(../images/l_additionalinformations.png);
      padding-left:60px!important;
}

.icon-48-additionalbillinginformations {
      background-image: url(../images/l_additionalbillinginformations.png);
      padding-left:60px!important;
}

.icon-48-additionalbillinginformation {
      background-image: url(../images/l_additionalbillinginformations.png);
      padding-left:60px!important;
}

.icon-48-additionalstatisticinformations {
      background-image: url(../images/l_additionalstatisticinformations.png);
      padding-left:60px!important;
}

.icon-48-additionalstatisticinformation {
      background-image: url(../images/l_additionalstatisticinformations.png);
      padding-left:60px!important;
}

.icon-48-selectlists {
      background-image: url(../images/l_selectlists.png);
      padding-left:60px!important;
}

.icon-48-selectlist {
      background-image: url(../images/l_selectlists.png);
      padding-left:60px!important;
}

