.icon-48-transcorders {
      background-image: url(../images/l_transcorders.png);
      padding-left:60px!important;
}

.icon-48-transcorder {
      background-image: url(../images/l_transcorders.png);
      padding-left:60px!important;
}
.icon-48-vehicles {
      background-image: url(../images/l_vehicles.png);
      padding-left:60px!important;
}

.icon-48-vehicle {
      background-image: url(../images/l_vehicles.png);
      padding-left:60px!important;
}