.icon-48-irmcustomers {
      background-image: url(../images/l_irmcustomers.png);
      padding-left:60px!important;
}

.icon-48-irmcustomer {
      background-image: url(../images/l_irmcustomers.png);
      padding-left:60px!important;
}

.icon-48-additionalinformations {
      background-image: url(../images/l_additionalinformations.png);
      padding-left:60px!important;
}

.icon-48-additionalinformation {
      background-image: url(../images/l_additionalinformations.png);
      padding-left:60px!important;
}

.icon-48-selectlists {
      background-image: url(../images/l_selectlists.png);
      padding-left:60px!important;
}

.icon-48-selectlist {
      background-image: url(../images/l_selectlists.png);
      padding-left:60px!important;
}