.icon-48-prmmasterdatas {
      background-image: url(../images/l_prmmasterdatas.png);
      padding-left:60px!important;
}

.icon-48-prmmasterdata {
      background-image: url(../images/l_prmmasterdatas.png);
      padding-left:60px!important;
}

.icon-48-events {
      background-image: url(../images/l_events.png);
      padding-left:60px!important;
}

.icon-48-event {
      background-image: url(../images/l_events.png);
      padding-left:60px!important;
}

.icon-48-physicalstates {
      background-image: url(../images/l_physicalstates.png);
      padding-left:60px!important;
}

.icon-48-physicalstate {
      background-image: url(../images/l_physicalstates.png);
      padding-left:60px!important;
}

