.icon-48-contacts {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}

.icon-48-contact {
      background-image: url(../images/l_contacts.png);
      padding-left:60px!important;
}

.icon-48-options {
      background-image: url(../images/l_options.png);
      padding-left:60px!important;
}

.icon-48-option {
      background-image: url(../images/l_options.png);
      padding-left:60px!important;
}

.icon-48-tabapps {
      background-image: url(../images/l_tabapps.png);
      padding-left:60px!important;
}

.icon-48-tabapp {
      background-image: url(../images/l_tabapps.png);
      padding-left:60px!important;
}

