.icon-48-irmmasterdatas {
      background-image: url(../images/l_irmmasterdatas.png);
      padding-left:60px!important;
}

.icon-48-irmmasterdata {
      background-image: url(../images/l_irmmasterdatas.png);
      padding-left:60px!important;
}

.icon-48-additionalinformations {
      background-image: url(../images/l_additionalinformations.png);
      padding-left:60px!important;
}

.icon-48-additionalinformation {
      background-image: url(../images/l_additionalinformations.png);
      padding-left:60px!important;
}

.icon-48-selectlists {
      background-image: url(../images/l_selectlists.png);
      padding-left:60px!important;
}

.icon-48-selectlist {
      background-image: url(../images/l_selectlists.png);
      padding-left:60px!important;
}

.icon-48-audits {
      background-image: url(../images/l_audits.png);
      padding-left:60px!important;
}

.icon-48-audit {
      background-image: url(../images/l_audits.png);
      padding-left:60px!important;
}

