.icon-48-transcorders {
      background-image: url(../images/l_transcorders.png);
      padding-left:60px!important;
}

.icon-48-transcorder {
      background-image: url(../images/l_transcorders.png);
      padding-left:60px!important;
}

.icon-48-tabappvalues {
      background-image: url(../images/l_tabappvalues.png);
      padding-left:60px!important;
}

.icon-48-tabappvalue {
      background-image: url(../images/l_tabappvalues.png);
      padding-left:60px!important;
}

.icon-48-relatedbillings {
      background-image: url(../images/l_relatedbillings.png);
      padding-left:60px!important;
}

.icon-48-relatedbilling {
      background-image: url(../images/l_relatedbillings.png);
      padding-left:60px!important;
}

.icon-48-relatedstatistics {
      background-image: url(../images/l_relatedstatistics.png);
      padding-left:60px!important;
}

.icon-48-relatedstatistic {
      background-image: url(../images/l_relatedstatistics.png);
      padding-left:60px!important;
}

.icon-48-relatedrevisions {
      background-image: url(../images/l_relatedrevisions.png);
      padding-left:60px!important;
}

.icon-48-relatedrevision {
      background-image: url(../images/l_relatedrevisions.png);
      padding-left:60px!important;
}

.icon-48-tabapps {
      background-image: url(../images/l_tabapps.png);
      padding-left:60px!important;
}

.icon-48-tabapp {
      background-image: url(../images/l_tabapps.png);
      padding-left:60px!important;
}

