.icon-48-transcorders {
      background-image: url(../images/l_transcorders.png);
      padding-left:60px!important;
}

.icon-48-transcorder {
      background-image: url(../images/l_transcorders.png);
      padding-left:60px!important;
}